// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding: 1em;
}

.btn {
    margin-left: 1em;
    width: 100px;
}

.leaflet-container {
    margin-top: 10px;
    height: 500px;
    width: 100%;
}